main {
    background-color: var(--colorMain);
}

/* title  */
h1 {
    padding-top: 10%;
    text-align: center;
    font-family: var(--audioRegular);
    font-size: clamp(
        var(--font-size-h1-min),
        var(--font-size-h1-preferred),
        var(--font-size-h1-max)
    );
}

.container-title {
    margin: 0% 5%;
}

/* plateforme */

.container-plateforme {
    display: flex;
    justify-content: center;
    margin: 10% 0%;
    gap: 1%;
}

.icon-plateforme {
    width: 50px;
}

/* jeu */

.jeu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0% 2% 0% 2%;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

/* card overlay */
.card {
    width: 325px;
    height: 425px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid #333333;
    position: relative;
    overflow: hidden;
    margin: 1%;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    width: 100%;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    background-color: #201f446e;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.card-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--);
    text-align: center;
}

.card-sub {
    text-align: center;
    padding: 10px;
}

.card-btn {
    text-transform: uppercase;
    font-family: var(--);
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    outline: transparent;
    background: #dad3be;
}

@media all and (min-width: 769px) and (max-width: 1023px) {
}

@media all and (min-width: 1024px) {
    .container-title {
        display: flex;
        justify-content: center;
        gap: 10%;
    }

    .card:hover .card-body {
        top: 0%;
        transition: 0.3s;
        opacity: 1;
    }
}
